body {
    font-family: Arial, sans-serif;
    background-color: #fcfcfc;
    color: #333;
    text-align: center;
}

h1 {
    color: #007BFF;
    font-size: 2.5rem;
}

p {
    color: #555;
    font-size: 1.2rem;
}

h2 {

    color : #531253
}